@(id: Long, editarRegistros: Form[Registro])

@import helper._

        <script src="@routes.Assets.at("javascripts/jquery-1.8.1.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>


 <script>
        $(function(){$('#fechaNac').datepicker();});
        
        var sexo = $.fn.button.prototype.constructor.Constructor.prototype.toggle;
        $.fn.button.prototype.constructor.Constructor.prototype.toggle = function(){
            sexo.apply(this);
            var $parent = this.$element.parent('[data-toggle="buttons-radio"]')
            var target = $parent ? $parent.data('target') : undefined;
            var value = this.$element.attr('value');
            if(target && value){
                $('#'+target).val(value);
            }
        }
        
    </script>

    @form(routes.CRegistro.actualizar(id)){
    
    
            
        @if(flash.containsKey("error")) {
        
            <div class="alert alert-error">
                <strong>Error!</strong> @flash.get("error")
            </div>
        }       
        
        
            @inputText(editarRegistros("nombre"), 
                '_label -> "Nombre",
                '_showConstraints -> false
            )
            
            @inputText(editarRegistros("apellido"), 
                '_label -> "Apellido",
                '_showConstraints -> false
            )
       
             @input(editarRegistros("sexo"), 
                '_label -> "Sexo", 
                '_showConstraints -> false
            ) { (id, name, value, args) =>   
                <input type="hidden" id="@id" name="@name" value="@value" @toHtmlArgs(args) />
                <div class="btn-group" data-toggle="buttons-radio" data-target="sexo"> 
                    <button type="button" class="btn btn-inverse @if(editarRegistros("sexo").value == "Masculino"){active}" data-toggle="button" value="Masculino">Masculino</button>                   
                    <button type="button" class="btn btn-inverse @if(editarRegistros("sexo").value == "Ninguno"){active}" data-toggle="button" value="Ninguno">Ninguno</button>
                    <button type="button" class="btn btn-inverse @if(editarRegistros("sexo").value == "Femenino"){active}" data-toggle="button" value="Femenino">Femenino</button>
                </div>
            }
            
 
       
 		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
        	<input type="submit" value="Guardar" class="btn btn-primary">
    	</div>
    
}