@import helper._
@implicitFieldConstructor = @{ FieldConstructor(bootstrapTemplates.render) } 


@titulo = {
   Estadisticas
}




@main(titulo, nav = "estadisticas") {



<div class="page-header">
  <h1>Generacion de Estadisticas <small>Solicitudes Realizadas</small></h1>
</div>




  
<div class="input-append">
<input id="fechaD" name="fechaD" placeholder="Desde..."  class="input-small" rel="fecha" required="required" type="text">&nbsp;&nbsp;

<input id="fechaH" name="fechaH" placeholder="Hasta..." class="input-small" rel="fecha" required="required" type="text">&nbsp;&nbsp;

    <select id="lista">
        <option value="pie">Solicitudes Realizadas - Torta
        <option value="linea">Solicitudes Realizadas - Linea
          <option value="barra">Solicitudes Realizadas - Barra
      </select>
    <button id="ver" rel="tooltip" data-placement="right" title="Generar grafico" class="btn btn-primary">Ver</button>
</div>




<br/><br/>



<div id="grafico"></div>

<script>


$("#ver").click(function(){

  var fechaD = $("#fechaD").val();
  var fechaH = $("#fechaH").val();


if ($("#lista").val() == "pie"){


$.getJSON("/buscarTorta?fechaD="+fechaD+"&fechaH="+fechaH, function(json) {

    chart = new Highcharts.Chart({
      chart: {
        renderTo: 'grafico',
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false
      },
      

      title: {
        text: 'Solicitudes'
      },

      legend: {
                align: 'right',
                x: -100,
                verticalAlign: 'top',
                y: 20,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColorSolid) || 'white',
                borderColor: '#CCC',
                borderWidth: 1,
                shadow: false
            },


      tooltip: {
        formatter: function() {
          return '<b>'+ this.point.name+'</b>: '+ this.y;
        }
      },
      
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: {
            enabled: true,
            formatter: function() {
              return '<b>'+ this.point.name+'</b>: '+ this.y;
            }
          },
          showInLegend: true
        },
      },
      
      series: [{
        type: 'pie',
        name: 'Solicitudes',
        data: json
      }]

    });


  });

}else if($("#lista").val() == "linea"){


  $.getJSON("/buscarLinea?fechaD="+fechaD+"&fechaH="+fechaH, function(json) {

    chart = new Highcharts.Chart({
            chart: {
                renderTo: 'grafico',
                type: 'line',
            },
            title: {
                text: 'Promedio de Solicitudes',
            },
            xAxis: {
                categories: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                labels: {
                    rotation: -45,
                    align: 'right',
                   
                }
            },
            yAxis: {
                min: 0,
                allowDecimals: false,
                title: {
                    text: 'Solicitudes Realizadas'
                },
                
            },




            legend: {
                align: 'right',
                x: -100,
                verticalAlign: 'top',
                y: 20,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColorSolid) || 'white',
                borderColor: '#CCC',
                borderWidth: 1,
                shadow: false
            },


            tooltip: {
                formatter: function() {
                        return 'En '+ this.x + ': <br/><b>'+ this.y +' '+ this.series.name +'</b>';
                }
            },

            
            series: json
        });
  
  
  
  });



}else if($("#lista").val() == "barra"){



$.getJSON("/buscarLinea?fechaD="+fechaD+"&fechaH="+fechaH, function(json) {

chart = new Highcharts.Chart({
            chart: {
                renderTo: 'grafico',
                type: 'column'
            },

            title: {
                text: 'Promedio de Solicitudes',
            },
            xAxis: {
                categories: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                labels: {
                    rotation: -45,
                    align: 'right',
                   
                }
            },
            yAxis: {
                min: 0,
                allowDecimals: false,
                title: {
                    text: 'Solicitudes Realizadas'
                },
                stackLabels: {
                    enabled: true,
                    style: {
                        fontWeight: 'bold',
                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                    }
                }
                
            },


            legend: {
                align: 'right',
                x: -100,
                verticalAlign: 'top',
                y: 20,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColorSolid) || 'white',
                borderColor: '#CCC',
                borderWidth: 1,
                shadow: false
            },
            tooltip: {
                formatter: function() {
                    return '<b>'+ this.x +'</b><br/>'+
                        this.series.name +': '+ this.y +'<br/>'+
                        'Total: '+ this.point.stackTotal;
                }
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    dataLabels: {
                        enabled: true,
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
                    }
                }
            },

            series: json
        });
    });

  }

});
 




$(function () {
    $("[rel=fecha]").datepicker({noOffset: true});
    $("[rel=tooltip]").tooltip();
});



</script>





}



