@(formParroquias: Form[Parroquias])
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(bootstrapTemplates.render) } 


	@defining(formParroquias("id")) { uidField =>
		<input type="hidden" name="@uidField.name" id="@uidField.id" value="@uidField.value">
	}
  
        @select(formParroquias("municipios.id"), 
            options(Municipios.opciones), 
		    '_label -> "Municipio",
 		    'required -> "required",
            '_default -> "-- Seleccione un Municipio --",
            '_showConstraints -> false
        )


    	@inputText(
            formParroquias("parroquia"), 
     		'_label -> "Parroquia",
 	    	'class -> "input-medium",
 		    'required -> "required",
     		'minlength -> "4",
 	    	'maxlength -> "30"
     	)  
     	
     	
