@(formCMunicipios: Form[Municipios])
@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {

   
    <h1>Agregar Municipio</h1>
    
    @form(routes.CMunicipios.guardar()){
        
        <fieldset>
        
            @inputText(formCMunicipios("municipio"), 
            '_label -> "Municipio")           
           

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Guardar" class="btn btn-primary">
        </div>
        
    }
    
}