
@(formSolicitud: Form[Solicitud])
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(bootstrapTemplates.render) } 

        
		@defining(formSolicitud("id")) { uidField =>
			<input type="hidden" name="@uidField.name" id="@uidField.id" value="@uidField.value">
		}
        
        <input type="hidden" name="registro" value="@formSolicitud("registro").value" >
        
@if(formSolicitud("id").value==null){    
        
        @inputText(formSolicitud("nombre"), 
            '_label -> "Nombre",
            'class -> "input-small",
            Symbol("readOnly") -> ""
        )  
        
        
        @inputText(formSolicitud("apellido"), 
            '_label -> "Apellido",
            'class -> "input-small",
            Symbol("readOnly") -> ""
        )  

}
        @select(formSolicitud("solicitud.id"), 
            options(TipoSolicitudes.opciones), 
            '_label -> "Solicitud",
            '_default -> "-- Seleccione una Solicitud --"
        )


        @input(formSolicitud("lph"), 
                '_label -> "LPH",
                'required -> "required"
        ) { (id, name, value, args) =>   
                <input type="hidden" id="@id" name="@name" value="@value" @toHtmlArgs(args) />
                <div class="btn-group" data-toggle="buttons-radio" data-target="lph"> 
<button type="button" class="btn btn-inverse @if(formSolicitud("lph").value == "S"){active}" data-toggle="button" value="S">Si</button>                   
<button type="button" class="btn btn-inverse @if(formSolicitud("lph").value == "N"){active}" data-toggle="button" value="N">No</button>
                </div>
       }

        @input(formSolicitud("tenencia"), 
                '_label -> "Tenencia",
                'required -> "required"
        ) { (id, name, value, args) =>   
                <input type="hidden" id="@id" name="@name" value="@value" @toHtmlArgs(args) />
                <div class="btn-group" data-toggle="buttons-radio" data-target="tenencia"> 
                     <button type="button" class="btn btn-inverse @if(formSolicitud("tenencia").value == "Propia"){active}" data-toggle="button" value="Propia">Propia</button>                   
                    <button type="button" class="btn btn-inverse @if(formSolicitud("tenencia").value == "Alquilada"){active}" data-toggle="button" value="Alquilada">Alquilada</button>
                </div>
       }
 		
 		@input(formSolicitud("estadoSol"), 
                '_label -> "Estado",
                'required -> "required"
        ) { (id, name, value, args) =>   
                <input type="hidden" id="@id" name="@name" value="@value" @toHtmlArgs(args) />
                <div class="btn-group" data-toggle="buttons-radio" data-target="estadoSol"> 
                     <button type="button" class="btn btn-inverse @if(formSolicitud("estadoSol").value == "Aprobada"){active}" data-toggle="button" value="Aprobada">Aprobada</button>                   
                    <button type="button" class="btn btn-inverse @if(formSolicitud("estadoSol").value == "No Aprobada"){active}" data-toggle="button" value="No Aprobada">No Aprobada</button>
                </div>
       }

        @input(formSolicitud("docCompleta"), 
                '_label -> "Documentacion",
                'required -> "required"
        ) { (id, name, value, args) =>   
                <input type="hidden" id="@id" name="@name" value="@value" @toHtmlArgs(args) />
                <div class="btn-group" data-toggle="buttons-radio" data-target="docCompleta"> 
                    <button type="button" class="btn btn-inverse @if(formSolicitud("docCompleta").value == "S"){active}" data-toggle="button" value="S">Completa</button>                   
                <button type="button" class="btn btn-inverse @if(formSolicitud("docCompleta").value == "N"){active}" data-toggle="button" value="N">Incompleta</button>
                </div>
       }
 		
 		
      	
      	@textarea(formSolicitud("observacion"), 
 			'_label -> "Observacion",
 			'rows -> "3"
 		)


<script type="text/javascript">
      	
$(function () {
    $("[rel=fecha]").datepicker({noOffset: true});
});

var radio = $.fn.button.prototype.constructor.Constructor.prototype.toggle;
$.fn.button.prototype.constructor.Constructor.prototype.toggle = function(){
    radio.apply(this);
    var $parent = this.$element.parent('[data-toggle="buttons-radio"]')
    var target = $parent ? $parent.data('target') : undefined;
    var value = this.$element.attr('value');
    if(target && value){
        $('#'+target).val(value);
    }
}                
      
</script>



