@(formRegistros: Form[Registro])
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(bootstrapTemplates.render) } 

  
 		@inputText(formRegistros("cedula"), 
 			'_label -> "Cedula",
 			'class -> "input-small",
 			'required -> "required",
 			'Dminlength -> "5",
 			'maxlength -> "8"
 		)  
 		
 		@inputText(formRegistros("nombre"), 
 			'_label -> "Nombre"
 		) 
 		
 		
 		@inputText(formRegistros("apellido"), 
 			'_label -> "Apellido"
 		) 
      	
      	@inputText(formRegistros("fechaNac"), 
 			'_label -> "Fecha Nacimiento",
 			'class -> "input-small",
 			'rel -> "fecha"
 		)
 		
 		
 		@inputText(formRegistros("fechaReg"), 
 			'_label -> "Fecha Registro",
 			'class -> "input-small",
 			'rel -> "fecha"
 		)
 		
 		
 		@input(formRegistros("sexo"), 
                '_label -> "Sexo"
        ) { (id, name, value, args) =>   
                <input type="hidden" id="@id" name="@name" value="@value" @toHtmlArgs(args) />
                <div class="btn-group" data-toggle="buttons-radio" data-target="sexo"> 
                    <button type="button" class="btn btn-inverse data-toggle="button" value="Masculino">Masculino</button>                   
                    <button type="button" class="btn btn-inverse data-toggle="button" value="Ninguno">Ninguno</button>
                </div>
       }
 		
 		@input(formRegistros("nacionalidad"), 
                '_label -> "Nacionalidad"
        ) { (id, name, value, args) =>   
                <input type="hidden" id="@id" name="@name" value="@value" @toHtmlArgs(args) />
                <div class="btn-group" data-toggle="buttons-radio" data-target="nacionalidad"> 
                    <button type="button" class="btn btn-inverse" data-toggle="button" value="Venezolano">Venezolano</button>                   
                    <button type="button" class="btn btn-inverse" data-toggle="button" value="Extranjero">Extranjero</button>
                </div>
        }
            
            
		@input(formRegistros("estadoCivil"), 
                '_label -> "Nacionalidad"
        ) { (id, name, value, args) =>   
                <input type="hidden" id="@id" name="@name" value="@value" @toHtmlArgs(args) />
                <div class="btn-group" data-toggle="buttons-radio" data-target="estadoCivil"> 
                    <button type="button" class="btn btn-inverse" data-toggle="button" value="Soltero">Soltero</button>                   
                    <button type="button" class="btn btn-inverse" data-toggle="button" value="Casado">Casado</button>
                    <button type="button" class="btn btn-inverse" data-toggle="button" value="Divorciado">Divorciado</button>
                    <button type="button" class="btn btn-inverse" data-toggle="button" value="Concubinato">Concubinato</button>
                </div>
        }
      	

		@select(formRegistros("parroquias.id"), 
        	options(Parroquias.opciones), 
            '_label -> "Parroquia",
            '_default -> "-- Seleccione una Parroquia --"
        )
      	
      	@textarea(formRegistros("direccion"), 
 			'_label -> "Direccion",
 			'rows -> "3"
 		)
      	
      	@inputText(formRegistros("telefono"), 
 			'_label -> "Telefono",
			'class -> "input-small"
 		)
      	
      	
		@inputText(formRegistros("ingresoMensual"), 
 			'_label -> "Ingreso Mensual",
			'class -> "input-small"
 		)
      	
      	
      	@inputText(formRegistros("hijos"), 
 			'_label -> "Hijos",
			'class -> "input-small"
 		)
      			
            
 
       
 		
        
