@(formTipoSolicitudes: Form[TipoSolicitudes])
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(bootstrapTemplates.render) } 
   
		@defining(formTipoSolicitudes("id")) { uidField =>
			<input type="hidden" name="@uidField.name" id="@uidField.id" value="@uidField.value">
		}

		@inputText(formTipoSolicitudes("codigo"), 
            '_label -> "Codigo",
 	    	'maxlength -> "30"
	    )

        @inputText(formTipoSolicitudes("solicitud"), 
            '_label -> "Nombre",
			Symbol("required") -> "",
 	    	'maxlength -> "30"
	    )           
           