@(formCParroquias: Form[Parroquias])
@import helper._


   		<script src="@routes.Assets.at("javascripts/jquery-1.8.1.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>


    
    @form(routes.CParroquias.guardar()){
    
    
     @if(flash.containsKey("error")) {
        
            <div class="alert alert-error">
                <strong>Error!</strong> @flash.get("error")
            </div>
        }   

        
        <div class="control-group">
        	<label class="control-label">Parroquia</label>
        	<div class="controls">
        @select(formCParroquias("municipios.id"), 
                options(Municipios.opciones), 
                '_default -> "-- Seleccione un Municipio --",
                '_showConstraints -> false
            )
          </div>
      	</div>
        
        <div class="control-group">
        	<label class="control-label">Parroquia</label>
        	<div class="controls">
          		<input  name="parroquia" type="text">
        	</div>
      	</div>
           
           
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
        		<input type="submit" value="Guardar" class="btn btn-primary">
    		</div>

    
}