@(formUsuarios: Form[Usuario])
@import helper._
		
		<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/united.min.css")"> 
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/datepicker.css")">
        <script src="@routes.Assets.at("javascripts/jquery-1.8.1.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>


 <script>
        $(function(){$('#fechaNac').datepicker();});
        
        var sexo = $.fn.button.prototype.constructor.Constructor.prototype.toggle;
        $.fn.button.prototype.constructor.Constructor.prototype.toggle = function(){
            sexo.apply(this);
            var $parent = this.$element.parent('[data-toggle="buttons-radio"]')
            var target = $parent ? $parent.data('target') : undefined;
            var value = this.$element.attr('value');
            if(target && value){
                $('#'+target).val(value);
            }
        }
        
    </script>


    @form(routes.CUsuario.guardar()){
    
     
        @if(flash.containsKey("error")) {
        
            <div class="alert alert-error">
                <strong>Error!</strong> @flash.get("error")
            </div>
        }       
        
        
            @inputText(formUsuarios("nombre"), 
                '_label -> "Nombre",
                '_showConstraints -> false
            )
            
            @inputText(formUsuarios("apellido"), 
                '_label -> "Apellido",
                '_showConstraints -> false
            )
      
            
             @input(formUsuarios("sexo"), 
                '_label -> "Sexo", 
                '_showConstraints -> false
            ) { (id, name, value, args) =>   
                <input type="hidden" id="@id" name="@name" value="@value" @toHtmlArgs(args) />
                <div class="btn-group" data-toggle="buttons-radio" data-target="sexo"> 
                    <button type="button" class="btn btn-inverse" data-toggle="button" value="Masculino">Masculino</button>
                    <button type="button" class="btn btn-inverse" data-toggle="button" value="Ninguno">Ninguno</button>                   
                    <button type="button" class="btn btn-inverse" data-toggle="button" value="Femenino">Femenino</button>
                    
                </div>
            } 
            

          @input(formUsuarios("usuario"), 
                '_label -> "Usuario", 
                '_showConstraints -> false
            ) { (id, name, value, args) =>        
                <div id="usuario" class="input-prepend" name="usuario">
                 <span class="add-on"><i class="icon-user"></i></span>
                    <input  id="@id" name="@name" value="@value" type="text" @toHtmlArgs(args)>
                   
                </div>
            } 
            
             @input(formUsuarios("contrasena"), 
                '_label -> "Contrasena", 
                '_showConstraints -> false
            ) { (id, name, value, args) =>        
                <div id="contrasena" class="input-prepend" name="contrasena">
                <span class="add-on"><i class="icon-signal"></i></span>
                    <input  id="@id" name="@name" value="@value" type="text" @toHtmlArgs(args)>
                   
                </div>
            } 			
            

    
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
        		<input type="submit" value="Guardar" class="btn btn-primary">
    		</div>
        
    
    
}