@(formRegistros: Form[Registro])
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(bootstrapTemplates.render) } 


		@defining(formRegistros("id")) { uidField =>
			<input type="hidden" name="@uidField.name" id="@uidField.id" value="@uidField.value">
		}
  
 		@inputText(formRegistros("cedula"), 
 			'_label -> "Cedula",
 			'class -> "input-small required",
            'minlength -> "4",
 			'maxlength -> "8"
 		)  

 		@inputText(formRegistros("nombre"), 
 			'_label -> "Nombre",
 			'class -> "input-medium",
            Symbol("data-minlength") -> "5",
 			'maxlength -> "15",
            'required -> "required"
 		) 
 		
 		
 		@inputText(formRegistros("apellido"), 
 			'_label -> "Apellido",
 			'class -> "input-medium",
 			'required -> "required",
 			'minlength -> "3",
 			'maxlength -> "15"
 		) 
      	
      	@inputText(formRegistros("fechaNac"), 
 			'_label -> "Fecha Nacimiento",
 			'class -> "input-small",
 			'rel -> "fecha",
 			'required -> "required"
 		)
 		
 		
 		@inputText(formRegistros("fechaReg"), 
 			'_label -> "Fecha Registro",
 			'class -> "input-small",
 			'rel -> "fecha",
 			'required -> "required"
 		)
 		
 		
 		@input(formRegistros("sexo"), 
                '_label -> "Sexo",
                'required -> "required"
        ) { (id, name, value, args) =>   
                <input type="hidden" id="@id" name="@name" value="@value" @toHtmlArgs(args) />
                <div class="btn-group" data-toggle="buttons-radio" data-target="sexo"> 
                     <button type="button" class="btn btn-inverse @if(formRegistros("sexo").value == "Masculino"){active}" data-toggle="button" value="Masculino">Masculino</button>                   
                    <button type="button" class="btn btn-inverse @if(formRegistros("sexo").value == "Femenino"){active}" data-toggle="button" value="Femenino">Femenino</button>
                </div>
       }
 		
 		@input(formRegistros("nacionalidad"), 
                '_label -> "Nacionalidad",
                'required -> "required"
        ) { (id, name, value, args) =>   
                <input type="hidden" id="@id" name="@name" value="@value" @toHtmlArgs(args) />
                <div class="btn-group" data-toggle="buttons-radio" data-target="nacionalidad"> 
                    <button type="button" class="btn btn-inverse @if(formRegistros("nacionalidad").value == "Venezolano"){active}" data-toggle="button" value="Venezolano">Venezolano</button>                   
                    <button type="button" class="btn btn-inverse @if(formRegistros("nacionalidad").value == "Extranjero"){active}" data-toggle="button" value="Extranjero">Extranjero</button>
                </div>
        }
            
            
		@input(formRegistros("estadoCivil"), 
                '_label -> "Nacionalidad",
                'required -> "required"
        ) { (id, name, value, args) =>   
                <input type="hidden" id="@id" name="@name" value="@value" @toHtmlArgs(args) />
                <div class="btn-group" data-toggle="buttons-radio" data-target="estadoCivil"> 
                    <button type="button" class="btn btn-inverse @if(formRegistros("estadoCivil").value == "Soltero"){active}" data-toggle="button" value="Soltero">Soltero</button>                   
                    <button type="button" class="btn btn-inverse @if(formRegistros("estadoCivil").value == "Casado"){active}" data-toggle="button" value="Casado">Casado</button>
                    <button type="button" class="btn btn-inverse @if(formRegistros("estadoCivil").value == "Divorciado"){active}" data-toggle="button" value="Divorciado">Divorciado</button>
                </div>
        }
      	

		@select(formRegistros("parroquias.id"), 
        	options(Parroquias.opciones), 
            '_label -> "Parroquia",
            'required -> "required",
            '_default -> "-- Seleccione una Parroquia --"
        )
      	
      	@textarea(formRegistros("direccion"), 
 			'_label -> "Direccion",
 			'required -> "required",
 			'rows -> "3"
 		)
      	
      	
      	
      	
		@inputText(formRegistros("ingresoMensual"), 
 			'_label -> "Ingreso Mensual",
			'class -> "input-small",
			'required -> "required"
 		)
 		
 		
 		@inputText(formRegistros("telefono"), 
 			'_label -> "Telefono",
			'class -> "input-small",
			'minlength -> "10",
 			'maxlength -> "11"
 		)
      	
      	
      	@inputText(formRegistros("hijos"), 
 			'_label -> "Hijos",
			'class -> "input-small"
 		)



    <div class="form-horizontal" id="conyugues">

        <label class="checkbox">
            <input type="checkbox" name="c1" onclick="mostrar('formConyugue', this)"> Conyugue?
        </label>


        <div id="formConyugue" style="display:none">
        
            <fieldset>

            <legend>Datos Personales del Conyugue</legend>
            

            @inputText(formRegistros("cedulaCo"), 
                '_label -> "Cedula",
                'class -> "input-small"

            )

            @inputText(formRegistros("nombreCo"), 
                '_label -> "Nombre",
                'class -> "input-medium"

            )

            @inputText(formRegistros("apellidoCo"), 
                '_label -> "Apellido",
                'class -> "input-medium"

            )

            @inputText(formRegistros("fechaNacCo"), 
                '_label -> "Fecha Nacimiento",
                'class -> "input-small",
                'rel -> "fecha"

            )


            @input(formRegistros("sexoCo"), 
                '_label -> "Sexo"
            ) { (id, name, value, args) =>   
                <input type="hidden" id="@id" name="@name" value="@value" @toHtmlArgs(args) />
                <div class="btn-group" data-toggle="buttons-radio" data-target="sexoCo"> 
                     <button type="button" class="btn btn-inverse @if(formRegistros("sexoCo").value == "Masculino"){active}" data-toggle="button" value="Masculino">Masculino</button>                   
                    <button type="button" class="btn btn-inverse @if(formRegistros("sexoCo").value == "Femenino"){active}" data-toggle="button" value="Femenino">Femenino</button>
                </div>
            }
        
            @input(formRegistros("nacionalidadCo"), 
                '_label -> "Nacionalidad"
            ) { (id, name, value, args) =>   
                <input type="hidden" id="@id" name="@name" value="@value" @toHtmlArgs(args) />
                <div class="btn-group" data-toggle="buttons-radio" data-target="nacionalidadCo"> 
                    <button type="button" class="btn btn-inverse @if(formRegistros("nacionalidadCo").value == "Venezolano"){active}" data-toggle="button" value="Venezolano">Venezolano</button>                   
                    <button type="button" class="btn btn-inverse @if(formRegistros("nacionalidadCo").value == "Extranjero"){active}" data-toggle="button" value="Extranjero">Extranjero</button>
                </div>
            }
            
            </fieldset>
        </div>
    </div>
        

<script type="text/javascript">
$(document).ready(function(){
    $("#formNuevo").validate();
    $("[rel=fecha]").datepicker({noOffset: true});
});


var radio = $.fn.button.prototype.constructor.Constructor.prototype.toggle;
$.fn.button.prototype.constructor.Constructor.prototype.toggle = function(){
    radio.apply(this);
    var $parent = this.$element.parent('[data-toggle="buttons-radio"]')
    var target = $parent ? $parent.data('target') : undefined;
    var value = this.$element.attr('value');
    if(target && value){
        $('#'+target).val(value);
    }
}


function mostrar (it, box) {
    var vis = (box.checked) ? "block" : "none";
    document.getElementById(it).style.display = vis;
}
                
        
</script>

 


