@(paginaActual: Page[Registro], currentSortBy: String, currentOrder: String, currentFilter: String)


@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    routes.CRegistro.listar(newPage, sortBy, order, currentFilter)
    
}


@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@main {

    <script>
        $(function () {
            $("[rel=tooltip]").tooltip();
        });
    </script>
    
    <h1 id="homeTitle">@Messages("registros.listar.titulo", paginaActual.getTotalRowCount)</h1>

    @if(flash.containsKey("exito")) {
        <div class="alert alert-success">
            <strong>Hecho!</strong> @flash.get("exito")
        </div>
    } 

    <div id="actions">
        
        <form action="@link(0, "cedula")" method="GET">
        <div class="input-append">
        
            <input class="span3" id="appendedInputButton" size="16" name="busqueda" type="text" value="@currentFilter" placeholder="Ingrese un nombre...">
            <button rel="tooltip" data-placement="right" title="Ingrese un nombre a buscar" class="btn btn-primary" type="submit">Buscar</button>
 
        </div>
        </form>
        
        <a data-target="#formNuevo" data-toggle="modal" rel="tooltip" data-placement="left" title="Agregar un Registro" class="btn btn-success" id="add" href="@routes.CRegistro.nuevo()">Nuevo</a>
        
    </div>
    
    @if(paginaActual.getTotalRowCount == 0) {
        
        <div class="well">
            <em>Nada para mostrar</em>
        </div>
        
    } else {
        
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    @header("cedula", "Cedula")
                    @header("nombre", "Nombre")
                    @header("apellido", "Apellido")
                    @header("sexo", "Sexo")
                    
                </tr>
            </thead>
            <tbody>

                @for(registros <- paginaActual.getList) {
                    <tr>
                        <td>
                            <a data-target="#formEditar" data-toggle="modal" href="@routes.CRegistro.editar(registros.id)" rel="tooltip" data-placement="right" title="@registros.cedula">@registros.cedula</a>
                        </td>
                        
                        <td>
                         
                            <span rel="tooltip" data-placement="left" title="@registros.nombre">@registros.nombre</span>
                                
                        </td>
                        
                         <td>
                            <span rel="tooltip" data-placement="left" title="@registros.apellido">@registros.apellido</span>   
                        </td>
                        
                         <td>
                            <span rel="tooltip" data-placement="left" title="@registros.sexo">@registros.sexo</span>      
                        </td>

                    </tr>
                }

            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
                @if(paginaActual.hasPrev) {
                    <li class="prev">
                        <a href="@link(paginaActual.getPageIndex - 1, null)">&larr; Anterior</a>
                    </li>
                } else {
                    <li class="prev disabled">
                        <a>&larr; Anterior</a>
                    </li>
                }
                <li class="current">
                    <a>Mostrando @paginaActual.getDisplayXtoYofZ(" al "," de ")</a>
                </li>
                @if(paginaActual.hasNext) {
                    <li class="next">
                        <a href="@link(paginaActual.getPageIndex + 1, null)">Siguiente &rarr;</a>
                    </li>
                } else {
                    <li class="next disabled">
                        <a>Siguiente &rarr;</a>
                    </li>
                }
            </ul>
        </div>
        
    }
    
    
    
<div id="formEditar" class="modal fade hide" tabindex="-1" role="dialog" aria-hidden="true" >

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3 id="myModalLabel">Editar Usuario</h3>
	</div>

	<div class="modal-body"></div>

</div>
 


<div id="formNuevo" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Nuevo Usuario</h3>
	</div>
     
	<div class="modal-body"></div>

</div>
        
}

            